<form [formGroup]="expenseForm" (ngSubmit)="addExpense()">
  <div class="row">
    <div class="col">
      <label for="expenseName">Name</label>
      <input
        id="expenseName"
        type="text"
        class="form-control"
        placeholder="Expense name"
        formControlName="name"
      />
      <div [hidden]="expenseName?.valid || expenseName?.pristine">
        <div *ngIf="expenseName?.errors?.['required']">
          Expense Name is required
        </div>
        <div *ngIf="expenseName?.errors?.['pattern']">
          Only alphabetic characters
        </div>
      </div>
    </div>
    <div class="col">
      <label for="expenseDate">Date</label>
      <input
        id="expenseDate"
        type="text"
        class="form-control"
        placeholder="Expense Date"
        bsDatepicker
        [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
        formControlName="date"
      />
      <div [hidden]="expenseDate?.valid || expenseDate?.pristine">
        <div *ngIf="expenseDate?.errors?.['required']">
          Expense Date is required
        </div>
      </div>
    </div>
    <div class="col">
      <label for="expenseAmount">Amount</label>
      <input
        id="expenseAmount"
        type="text"
        class="form-control"
        placeholder="Expense Amount"
        formControlName="amount"
      />
      <div [hidden]="expenseAmount?.valid || expenseAmount?.pristine">
        <div *ngIf="expenseAmount?.errors?.['required']">
          Expense Amount is required
        </div>
        <div *ngIf="expenseAmount?.errors?.['maxlength']">
          Please enter no more than 5 numbers
        </div>
        <div *ngIf="expenseAmount?.errors?.['pattern']">
          Only numbers allowed
        </div>
      </div>
    </div>
    <div class="col">
      <label for="expenseDescription">
        {{ remainingLength$ | async }} / {{ MaxDescriptionLength }} remaining
      </label>
      <input
        id="expenseDescription"
        type="text"
        class="form-control"
        placeholder="Expense description"
        formControlName="description"
      />
      <div [hidden]="expenseDescription?.valid || expenseDescription?.pristine">
        <div *ngIf="expenseDescription?.errors?.['required']">
          Expense Description is required
        </div>
        <div *ngIf="expenseDescription?.errors?.['maxlength']">
          Maximum of {{ MaxDescriptionLength }} characters
        </div>
        <div *ngIf="expenseDescription?.errors?.['explicitLanguage']">
          No explicit language allowed -
          {{expenseDescription?.errors?.['explicitLanguage'].word}}
        </div>
      </div>
    </div>
    <div class="col">
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="!expenseForm.valid"
      >
        Add
      </button>
      <button (click)="resetExpense()" class="btn btn-primary">
        Reset with event
      </button>
    </div>
    <div class="col">
      <button type="reset" class="btn btn-primary">Reset with btn type</button>
    </div>
  </div>
  <div [hidden]="expenseForm?.valid || expenseForm?.pristine">
    <div *ngIf="expenseForm?.errors?.['nameDescription']">
      Description can not contain Expense name!
    </div>
  </div>
</form>
