<form [formGroup]="expenseForm" (ngSubmit)="addExpense()">
  <div class="row">
    <div class="col">
      <input
        type="text"
        class="form-control"
        placeholder="Expense name"
        formControlName="name"
      />
      <div [hidden]="expenseName?.valid || expenseName?.pristine">
        <div *ngIf="expenseName?.errors?.['required']">
          Expense Name is required
        </div>
        <div *ngIf="expenseName?.errors?.['pattern']">
          Only alphabetic characters
        </div>
      </div>
    </div>
    <div class="col">
      <input
        type="text"
        class="form-control"
        placeholder="Date"
        bsDatepicker
        [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
        formControlName="date"
      />
      <div [hidden]="expenseDate?.valid || expenseDate?.pristine">
        <div *ngIf="expenseDate?.errors?.['required']">
          Expense Date is required
        </div>
      </div>
    </div>
    <div class="col">
      <input
        type="text"
        class="form-control"
        placeholder="Amount"
        formControlName="amount"
      />
      <div [hidden]="expenseAmount?.valid || expenseAmount?.pristine">
        <div *ngIf="expenseAmount?.errors?.['required']">
          Expense Amount is required
        </div>
        <div *ngIf="expenseAmount?.errors?.['maxlength']">
          Please enter no more than 5 numbers
        </div>
      </div>
    </div>
    <div class="col">
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="!expenseForm.valid"
      >
        Add
      </button>
      <button (click)="resetExpense()" class="btn btn-primary">
        Reset with event
      </button>
    </div>
    <div class="col">
      <button type="reset" class="btn btn-primary">Reset with btn type</button>
    </div>
  </div>
</form>
